<!DOCTYPE html>
<html >
<head>
    <title>Verification</title>
</head>
<body style="width: 100vw; height: 100vh; display: flex; align-items: center; flex-direction: column; justify-content: center;">
    <h2>Welcome  <%- name%> to .......</h2>
    <br/>
    <br/>
   <div>
    <p> if you have not signed up to our Platform please disregard this message</p>
    <p>if you have signed up please click the button below to verfiy</p>
   </div>

   <br />
   <br />

   <a href="<%= url%>">
    <button style="cursor: pointer; width: 80px; height: 40px; background: yellowgreen; border: none; border-radius: 10%; font-weight: 700; font-size: 15px; color: white;">
       verfiy
    </button>
   </a>

    
</body>
</html>